#app{
    background-image: url("https://cdn.hipwallpaper.com/m/78/93/YoPgQC.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}